html{
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
  font-family: Verdana, sans-serif;
  color: white;
  text-align: center;
  color: white;
}

.link{
  font-size: 16px;
   color: aquamarine;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 42px;
}

p{
  font-size: 21px;
  color: gray;
}

.phone{
  margin-top: 20px;
}

.footer{
  float: right;
}